doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CRM Dashboard Customers
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="icon" type="image/png" sizes="32x32" href="@img/favicone.png")
    body 
        .wrapper 
            include html/sidebar
            include html/customers  
        script(src='js/app.min.js')